@model Products

<form method="post" asp-action="Delete">
    <input asp-for="ProductId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="test-primary">Delete Product</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Code"></label>
            <input asp-for="Code" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="YearlyPrice"></label>
            <input asp-for="YearlyPrice" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>